<html>
<head>
    <title>WEB API Auth</title>
</head>
<body>
    <h2>
        API: http://localhost:8888/api/Values
    </h2>
    <br />
    <h2>
        Microsoft token authentication for WEB API:
        <br />
        Sign-in / Sign-up: <a href="https://login.microsoftonline.com/YanovskiB2CTennant.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_UpIn&client_id=638dba75-d231-4e13-8217-1379a9330b64&nonce=defaultNonce&redirect_uri=http%3A%2F%2Flocalhost%3A8888%2F&scope=openid&response_type=id_token&prompt=login" target="_blank">here.</a>
    </h2>
</body>
</html>